header {
  top: 0;
  left: 0;
  padding: 10px;
  height: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: var(--header-color);
}

.home-buttom {
  margin-left: 20px;
  margin-top: 10px;
  width: 5%;
  height: 100%;
  outline: none;
  cursor: pointer;
  text-align: center;
}

a {
  color: var(--primary-color-text);
  text-decoration: none;
}

.contact {
  float: right;
  margin-right: 60px;
  margin-top: 10px;
}

.projects-buttom {
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.contact-button {
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  color: white;
  background: linear-gradient(45deg, rgba(21, 22, 187, 1) 0%, rgba(137, 39, 204, 1) 43%, rgba(255, 97, 156, 1) 100%);
}

.contact-button:hover {
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  color: white;
  background: linear-gradient(45deg, rgba(21,22,187,1) 0%, rgba(127,22,199,1) 43%, rgba(124,22,60,1) 100%);
}

.button-dark-select {
  background-color: var(--body-color);
  justify-content: right;
  display: flex;
  margin-top: 100px;
  position: fixed;
  width: 100%;
}
