<section>
  <div class="container" id="home">
    <div class="info">
      <p class="profission-info">SOFTWARE DEVELOPER</p>
      <span class="name-info" style="font-size: 3rem;">Bruno Mikael</span>
      <p class="body-info">Desenvolvedor de software,
        apaixonado por tecnologia e computador, desenvolvedor FullStack utilizando as tecnologias Java e Angular,
        atualmente trabalhando como freelancer, 2 anos de experiência dentro do mercado da tecnologia.</p>
      <div style="height: 10px">
        <a class="button" (click)="download()">Download CV</a>
      </div>
    </div>

    <div class="image" fxFlex="50">
      <img src="assets/img/img.png">
    </div>
  </div>

</section>
<section>
  <app-about-me-card></app-about-me-card>
</section>

<section>
  <app-projects></app-projects>
</section>

<section>
  <app-social-media></app-social-media>
</section>
