<div class="container">
  <div class="about-title">
    <a style="font-size: 2rem;">Expertise</a>
  </div>
</div>

<div class="body-card" style="margin-bottom: 100px">
  <p>Trabalho com desenvolvimento de software a mais de dois anos utilizando as tecnologias Java 8+ (Spring Boot)
    e Angular 8+ (PrimeNG e Angular Material) com criação de endpoints, mapeamento das Entidades do banco de dados,
    repositórios para persistência de dados no banco, classes de serviço para implementação das régras de negócio,
    correções de Bugs, geração de relatórios utilizando a biblioteca jasper reports, enums,
    consumo das API's pelos arquivos de serviço do angular, tudo isso utilizando as metodologias ágeis do SCRUM..</p>
</div>
