.container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
}

.about-title {
  flex: 1 100%;
  width: 50%;
  text-align: center;
  color: var(--primary-color-text);
}

.body-card {
  display: flex;
  justify-content: center;
}

p {
  width: 80%;
  border-left: 5px solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
  border-color: rgba(82, 34, 208, 1);
  color: var(--primary-color-text);
}
