<div id="projects">
  <div class="projects-title">
    <a style="font-size: 2rem;">Projetos</a>
  </div>

  <div class="container">
    <div class="card" style="background-color: rgba(240, 240, 240, 1)">
      <h4>HELP DESK</h4>
      <p>O helpDesk é um projeto dedicado ao controle de chamados para suporte técnico,
        contendo uma tela de login com autenticação por jwt token, cruds de clientes,
        chamados e técnicos completos para melhor flexibilidade e controle melhor dos chamados que você possui.</p>
    </div>
    <div class="card" style="background-color: rgba(240, 240, 240, 1)">
      <h4>ANGULAR SPRING</h4>
      <p>Projeto criado com o a meta de desenvolver um sistema, utilizando as tecnologias Java(spring-boot) e Angular+.</p>
    </div>
    <div class="card" style="background-color: rgba(240, 240, 240, 1)">
      <h4>CURSO VUE</h4>
      <p>Repositório criado com intenção ao aprendizado da tecnologia VueJS!.</p>
    </div>
  </div>
</div>
