<div id="social-media">
  <div class="social-media-title">
    <a style="font-size: 2rem;">Redes sociais</a>
  </div>

  <div class="container">
    <div class="image">
      <a href="https://www.linkedin.com/in/bruno-rodrigues-4a4aa7206/" target="_blank"><img src="assets/img/linkedin.png"></a>
      <div>
        <h3 class="name-images" style="text-align: center">Linkedin</h3>
      </div>
    </div>
    <div class="image">
      <a href="https://github.com/2002Bruno" target="_blank"><img src="assets/img/github.png"></a>
      <div>
        <h3 class="name-images" style="text-align: center">Github</h3>
      </div>
    </div>
  </div>
</div>
